<div class="row">
  <div class="col col-md-6">
    <select class="welcome" (change)="onChange($event.target.value)">
      <option value="all" selected="selected">All entries</option>
      <option value="under300">Entries under 300 calories</option>
      <option value="over300">Entries over 300 calories</option>
    </select><br><br>
    <meal-display *ngFor="#currentMeal of allMeals | calorie: filterCalories" (click)="mealClicked(currentMeal)" [class.selected]="currentMeal === selectedMeal" [meal]="currentMeal">
    </meal-display>
    <total-calories [allMeals]="allMeals"></total-calories>
  </div>
  <div class="col col-md-6">
    <meal-info [meal]="selectedMeal"></meal-info>
    <edit-entry [meal]="selectedMeal"></edit-entry>
  </div>
</div>
<div class="row">
  <div class="col col-md-4">
    <new-meal (onSubmitNewMeal)="createEntry($event)"></new-meal>
  </div>
</div>
